---
layout: default
title: Home
---

<div class="post-list">
    {% for post in paginator.posts %}

    <a class="post-card" href="{{ post.url | relative_url }}">

        <div class="post-thumbnail">
            {% if post.image %}
            <img src="{{ post.image | relative_url }}" alt="{{ post.title }}">
            {% else %}
            <div class="no-image-placeholder">
                &lt;/&gt;
            </div>
            {% endif %}
        </div>

        <div class="post-details">
            <span class="post-meta">{{ post.date | date: "%B %d, %Y" }}</span>
            <h3>{{ post.title }}</h3>
            <p>{{ post.excerpt | strip_html | truncatewords: 20 }}</p>
        </div>

    </a>
    {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<div class="pagination">

    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}" class="previous">
        &laquo; Newer Posts
    </a>
    {% else %}
    <span class="previous disabled">&laquo; Newer Posts</span>
    {% endif %}

    <span class="page_number">
    Page {{ paginator.page }} of {{ paginator.total_pages }}
  </span>

    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}" class="next">
        Older Posts &raquo;
    </a>
    {% else %}
    <span class="next disabled">Older Posts &raquo;</span>
    {% endif %}

</div>
{% endif %}