<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/rts_background.css">
</head>
<body>
   <aside class="matrix-sidebar" id="matrix-sidebar-left">
        <canvas id="matrix-left"></canvas>
    </aside>

    <aside class="matrix-sidebar" id="matrix-sidebar-right">
        <canvas id="rtsCanvas"></canvas>
    </aside>

    <div class="container">
        <header class="site-header">
            <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
            <nav class="site-nav">
                <a href="{{ site.baseurl }}/">Home</a>
                <a href="{{ site.baseurl }}/about.html">About</a>
            </nav>
        </header>

        <main class="site-content">
            {{ content }}
        </main>

        <footer class="site-footer">
            <p>&copy; {{ "now" | date: "%Y" }} {{ site.author }}. Powered by GitHub Pages.</p>
        </footer>
    </div>
    <script src="{{ site.baseurl }}/assets/js/matrix.js"></script>
    <script src="{{ site.baseurl }}/assets/js/rts_background.js"></script>
</body>
</html>