---
layout: default
---
<article class="wc3-panel" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header" style="text-align: center; margin-bottom: 20px; border-bottom: 1px solid #333; padding-bottom: 20px;">
    <h1 class="post-title" itemprop="name headline" style="font-size: 2rem;">{{ page.title | escape }}</h1>

    <p class="post-meta" style="font-family: 'Cinzel'; color: #777;">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: "%B %d, %Y" }}
      </time>
    </p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>