---
layout: default
---
<article id="single-post-view" class="view-section rts-frame active">
  <a href="{{ site.baseurl }}/" class="back-btn" style="text-decoration: none;">← Return to Feed</a>

  <div id="single-post-content">
    <header>
      <h1>{{ page.title }}</h1>
      <div class="post-meta">
        <div>By <span>{{ site.author | default: "Kowalski" }}</span></div>
        <div>Posted <span>{{ page.date | date: "%B %d, %Y" }}</span></div>
        {% if page.category %}<div>Category <span>{{ page.category }}</span></div>{% endif %}
      </div>
    </header>
    <div class="post-content">
      {{ content }}
    </div>
  </div>
</article>